@font-face {
    font-family: 'Gothic';
    src:url('../../media/fonts/Century-Gothic.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:url('../../media/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'SerifSB';
    src:url('../../media/fonts/SourceSerif4Caption-Semibold.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'SerifB';
    src:url('../../media/fonts/SourceSerif4Caption-Bold.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}



