@import "./assets/mixin.scss";

$white: #FEFFFA;
$purple-blue: #22223B;
$grey-blue: #777282;

.App {
  background-color: $white;
  position: relative;
  font-family: 'Gothic';
  .loader{
    z-index: 100;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(255, 255, 255, 0);
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    max-width:100%;
    .loader-panel{
      transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
      width: 100%; height: 100%;
      background-color: $purple-blue;
    }
  }
  .block-Regeneration{
    width: 100vw;
    height: 87vh;
    max-width:100%;
    background-color: $white;
    position: relative;
    padding-bottom: 13vh;
    .logo{
      position: absolute;
      @include top(40);
      @include left(55);
      @include size(219,74);
      img{
        width: 100%;
        height: auto;
      }
    }
    .title-block{
      position: sticky;
      @include top(266);
      @include paddingLeft(346);
      .title{
        @include fontSize(54);
        color: black;
      }
      .subtitle{
        @include width(363);
        @include marginTop(5);
        @include fontSize(22);
        @include property(line-height,27);
        color: $grey-blue;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          @include bottom(26);
          @include left(363+50);
          @include width(751);
          height: 1px;
          background-color: #3A3A48;
        }
      }
    }
    .wave-block{
      position: absolute;
      left: 0; bottom: -3px;
      width: 100vw;
      max-width:100%;
      svg{
        width: 100%
      }
    }
  }
  .background-blue{
      width: 100vw;
      max-width:100%;
      height: 100vh;
      background-color: $purple-blue;
  }

  .block-About{
    width: 100vw;
    max-width:100%;
    height: 130vh;
    background-color: $white;
    position: relative;
    @include paddingBottom(150);
    .about-wrap{
      position: sticky;
      @include top(219);
      .about-info{
        @include marginTop(219);
        @include marginLeft(422);
        display: flex;
        .about-title{
          @include fontSize(40);
          span{
            color: #675D7D
          }
        }
        .about-text{
          @include marginLeft(108);
          @include fontSize(22);
          @include width(537);
        }
      }
      .about-tezis-group{
        .line{
          @include marginTop(95);
          @include marginBottom(39);
          @include marginLeft(750);
          position: relative;
          .line-left{
            transition: all 0.3s;
            @include width(286);
            height: 1px;
            background-color: #707070;
            position: absolute;
            top: 50%;
            @include left(-42);
          }
          .line-text{
            @include fontSize(18);
          }
          .line-right{
            transition: width 0.3s;
            width: 0;
            height: 1px;
            background-color: #707070;
            position: absolute;
            top: 50%;
            @include left(42+211);
          }
        };
        .tezis{
          display: flex;
          @include height(50);
          align-items: center;
          @include marginBottom(90);
          @include marginLeft(430);
          .tezis-name{
            @include width(300);
            text-align: center;
            @include marginRight(127);
            @include fontSize(30);
          }
          .tezis-points{
            @include size(40,10);
            position: relative;
            &::before{
              content: '';
              position: absolute;
              top: 0; left: 0;
              @include size(10,10);
              background-color: #F7931E;
              @include borderRadius(5);
            };
            &::after{
              content: '';
              position: absolute;
              top: 0; right: 0;
              @include size(10,10);
              background-color: #F7931E;
              @include borderRadius(5);
            }
          }
          .tezis-text{
            @include width(600);
            @include marginLeft(122);
            @include fontSize(20);
          }
        }
      }
    }
    
  }

  .block-More{
    width: 100vw;
    height: 230vh;
    max-width: 100%;
    background-color: $white;
    position: relative;
    @include paddingBottom(121);
    .more-wrap{
      position: sticky;
      @include top(154);
      .more-info{
        display: flex;
        align-items: center;
        @include marginLeft(530);
        @include marginTop(154);
        .more-title{
          @include fontSize(40);
        }
        .more-text{
          @include marginLeft(155);
          @include fontSize(22);
        }
      }
      .more-content{
        @include marginTop(112);
        @include marginLeft(361);
        display: flex;
        align-items: center;
        .more-lottie{
          @include size(338,484);
          background-color: grey;
        }
        .more-advantage-group{
          @include marginLeft(116);
          .advantage-line{
            &:nth-child(1){
              .advantage-example{
                &:nth-child(1){
                  transition: all 0.3s;
                  transform: translateY(116px); //Прикрутить адапатив
                  opacity: 0;
                }
                &:nth-child(2){
                  transition: all 0.3s;
                  transform: translateY(116px); //Прикрутить адапатив
                  opacity: 0;
                }
              }
            }
            &:nth-child(2){
              .advantage-example{
                &:nth-child(1){
                  transition: all 0.3s;
                  transform: translateY(0); 
                  opacity: 0;
                }
                &:nth-child(2){
                  transition: all 0.3s;
                  transform: translateY(0);
                  opacity: 0;
                }
              }
            }
            display: flex;
            @include marginBottom(30);
            // opacity: 0;
            .advantage-example{
              @include width(432);
              @include marginLeft(101);
              .advantage-title{
                @include fontSize(25);
              }
              .advantage-text{
                @include width(355);
                @include marginTop(15);
                @include fontSize(20);
              }
            }
          }
        }
      }
    }
  }

  .block-Work{
    width: 100vw;
    height: 330vh;
    max-width: 100%;
    background-color: $white;
    position: relative;
    @include paddingBottom(54);
    .work-wrap{
      position: sticky;
      @include top(90);
      .work-title{
        @include marginLeft(1131);
        @include marginTop(90);
        @include fontSize(40);
      }
      .work-info{
        display: flex;
        align-items: center;
        @include marginTop(70);
        .work-kamaz{
          @include size(814,546);
          position: relative;
          z-index: 0;
          overflow: hidden;
          .kamaz-mask{
            transition: all 0.5s;
            position: absolute;
            @include top(0);
            @include left(-172);
            @include size(1002,549);
            svg{
              width: 100%
            }
          }
        }
        .work-points{
          @include size(789,648);
          background-color: grey;
          @include marginLeft(146);
          z-index: 100;
        }
      }
    }
    
  }

  .block-Partners{
    width: 100vw;
    height: 150vh;
    max-width: 100%;
    background-color: $white;
    position: relative;
    @include paddingBottom(178);
    .Partners-wrap{
      position: sticky;
      @include top(133);
      .partners-title{
        @include fontSize(40);
        @include marginTop(333);
        text-align: center;
      }
      .partners-row{
        display: flex;
        @include marginTop(167);
        .partner{
          text-align: center;
          @include width(290);
          @include marginLeft(160);
          .partner-img{
            @include height(90);
            img{
              width: auto;
              height: 100%;
            }
          }
          .partner-name{
            @include marginTop(40);
            @include fontSize(20);
          }
        }
      }
    }

  }

  

  .block-QA{
    width: 100vw;
    height: 330vh;
    max-width: 100%;
    background-color: $white;
    position: relative;
    @include paddingBottom(54);
    @include marginTop(110);
    .QA-wrap{
      .QA-title{
        @include marginLeft(205);
        @include fontSize(40);
      }
      .QA{
        transition: box-shadow 0.3s;
        border: 1px solid rgb(240, 210, 154);
        box-shadow: none;
        &:hover{
          box-shadow: 0px 0px 24px #00000029;
          border: 0px;
        }
        @include width(1711);
        @include property(min-height,754);
        background-color: $white;
        margin: auto;
        @include marginTop(70);
        @include borderRadius(40);
        display: flex;
        .QA-questions{
          @include paddingTop(57);
          @include paddingLeft(100);
          @include width(535);
          .QA-question{
            display: flex;
            @include marginBottom(56);
            @include fontSize(20);
            cursor: pointer;
            .QA-question-number{

            }
            .QA-question-title{
              @include marginLeft(15);
              @include width(380);
            }
          }
        }
        .QA-answer-panel{
          @include paddingLeft(139);
          .question{
            @include marginTop(222);
            @include fontSize(22);
          }
          .answer{
            @include marginTop(74);
            @include width(742);
            @include fontSize(20);
          }
        }
      }
    }
  }

  .next-block{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 166, 0, 0.315);
    max-width: 100%;
  }
}

.title-animation{
  position: relative;
  z-index: 50;
  overflow: hidden;
  .title-animation-block{
    transition: transform 0.65s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.6;
  }
}

.text-animation{
  position: relative;
  z-index: 100;
  overflow: hidden;
  .text-animation-block{
    transition: transform 0.65s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
  }
}

.opacity-animation-block{
  transition: opacity 0.65s;
  opacity: 0;
}


  